<%
    showCateFilter = (collection, categories, cateName, currentStatus, keyword, isParent, eleId, filterName = 'Filter by Category') => {
        let query = ''
        let path = ''
        if(currentStatus) {
            path = `/status/${currentStatus}`
        }
        if(keyword) 
            query = `&search=${keyword}`
        let options = ''
        let url = ''
        if(categories) {
                options = categories.map((category) => {
                    if(isParent) url = `javascript:handleFilterOption('${collection}','${category.value}','${category.name}','${path}', '${query}')`
                    else url = `/admin/${collection}${path}?page=1${query}&category=${category.value}`
                return(`
                    <li class="custom-dropdown-parent"><a 
                        class="dropdown-item"  
                        href="${url}" 
                         aria-expanded="false"
                    >${category.name}</a>
                    </li>
                `)
            }
            ).join('')
        }
        return(`
        <div class="dropdown" style="margin: 5px;"  >
            <button 
                class="btn btn-secondary dropdown-toggle " 
                type="button" 
                id="menu-dropdown" 
                data-toggle="dropdown"  
                aria-expanded="false" 
                }>
                ${cateName ? cateName : filterName}
            </button>
            <div class="dropdown-menu" aria-labelledby="menu-dropdown" id="${eleId}">
                ${options}
            </div>
            </div>
        `)
    }

%>