<%
    showpagination = (collection, currentStatus, keyword, {min, max, currentPage, totalPages}) => {
        if(totalPages <= 1)
            return
        let query = ''
        let path = ''
        if(currentStatus) {
            path = `/status/${currentStatus}`
        }
        if(keyword) 
            query = `&search=${keyword}`

        let xHtml = ''
        let previous = min - 1
        let next = max + 1

        for(let i = previous ; i <= next; i++ ) {
            let isActive = ''
            let pageNumber = i
            let pageLink = i

            if(i === currentPage) isActive = 'active'
            if(i === previous) {
                pageNumber = '&laquo;';
                pageLink = currentPage - 1
                isActive = pageLink < 1 ? 'disabled' : ''
            } 
            if(i === next) {
                pageNumber = '&raquo;';
                pageLink = currentPage + 1
                isActive = pageLink > totalPages ? 'disabled' : ''
            }  

            xHtml += `
            <li class="page-item ${isActive}">
                <a class="page-link" href="/admin/${collection}${path}?page=${pageLink}${query}" aria-label="">
                    <span aria-hidden="true">${pageNumber}</span>
                </a>
            </li>
            `
        }
        return `<ul class="pagination">
                    ${xHtml}
                </ul>`
    }
%>