<form style=" padding-right: 5px;">
    <div class="input-group">
        <input style="font-size: 1rem;  height: 38px !important;" type="search" class="form-control form-control-lg m-0" placeholder="Type your keywords here" name="search" value="<%= keyword ? keyword : '' %>">
            <div class="input-group-append">
                <button type="submit" class="btn btn-lg btn-default" style="height: 38px !important;">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
