<%  include ../viewHelper/status %>

<div class="col-md-12">
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="card-title">Filter</h3>
        </div>
<<<<<<< HEAD
        <div class="card-body ">
            <div class="d-flex justify-content-between">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <%- showFilter(filter, currentStatus, keyword) %>
                </div>

                <%  
                if(keyword !== '') {
                    %>
                    <div class="text-center">Search with keyword:
                        <b><%= keyword %></b>
                    </div>
                <%
                }
            
            %>
                <a type="button" class="btn  btn-secondary " href="/admin/item">Reset</a>
            </div>
=======
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <%- showFilter(filter, currentStatus, keyword) %>
            </div>
            <button type="button" class="btn  btn-secondary  float-right" href="/admin/item">Reset</button>
>>>>>>> origin/master
        </div>
    </div>
</div>
