<div class="d-flex justify-content-between align-items-center">
  <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
    <li class="pt-2 px-5">
      <h3 class="card-title text-secondary"><%= page %></h3>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="custom-tabs-two-header-tab" data-toggle="pill" href="#custom-tabs-two-header" role="tab" aria-controls="custom-tabs-two-header" aria-selected="true">Header</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="custom-tabs-two-info-tab" data-toggle="pill" href="#custom-tabs-two-info" role="tab" aria-controls="custom-tabs-two-info" aria-selected="false">Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="custom-tabs-two-purchase-tab" data-toggle="pill" href="#custom-tabs-two-purchase" role="tab" aria-controls="custom-tabs-two-purchase" aria-selected="false">Purchase</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="custom-tabs-two-discount-tab" data-toggle="pill" href="#custom-tabs-two-discount" role="tab" aria-controls="custom-tabs-two-discount" aria-selected="false">Discount</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="custom-tabs-two-footer-tab" data-toggle="pill" href="#custom-tabs-two-footer" role="tab" aria-controls="custom-tabs-two-footer" aria-selected="false">Footer</a>
    </li>
  </ul>

  <button type="submit" class="btn btn-secondary mr-3 mb-1">Submit</button>
</div>