<section id="slider" class="slider-element slider-parallax revslider-wrap overflow-hidden clearfix">
    <!--#################################-THEMEPUNCHBANNER-#################################-->
    <% include ../../components/Home/Slider %>
</section>
<!-- END REVOLUTION SLIDER -->
<!-- Content ============================================= -->
<% include ../../components/Home/Content %>

<!-- #content end -->
