<div class="tab-content clearfix" id="tab-orders">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Ngày mua</th>
        <th>Mã Khách hàng</th>
        <th>Tổng tiền sản phẩm</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <%-   
        orders.map((order) => {
            return(`
            <tr>
                <td>
                <code>${order.createdAt.toISOString().slice(0, 10)}</code>
                </td>
                <td>${order.user_code}</td>
                <td>${order.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')} VNĐ  ${order.coupon_id ? '(có mã giảm giá)' : ''}</td>
                <td>${order.status}</td>
            </tr>
            `)
        }).join('')
    %>
    </tbody>
  </table>

</div>