<%
    showArticle = (articles) => {
        let listArticles = articles.map((article, index) => {
            let reverseImg = ''
            let reverseContent = 'ps-md-4'
            if(index % 2 != 0) {
                reverseImg = 'order-md-last'
                reverseContent = 'pe-md-4'
            }
            return(`
            <div class="entry col-12">
                <div class="grid-inner row g-0">
                    <div class="col-md-4 ${reverseImg}">
                        <div class="entry-image">
                            <a href="/frontend/images/blog/full/17.jpg" data-lightbox="image"><img src="/backend/uploads/${article.image}" alt="Standard Post with Image"></a>
                        </div>
                    </div>
                    <div class="col-md-8 ${reverseContent}">
                        <div class="entry-title title-sm">
                            <h2>
                                <a href="blog-single.html">${article.name}</a>
                            </h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>
                                    <i class="icon-calendar3"></i>
                                    ${article.post_date.toISOString().slice(0, 10)}</li>
                                <li>
                                    <a href="#">
                                        <i class="icon-user"></i>
                                        ${article.author}</a>
                                </li>
                                <li>
                                    <i class="icon-folder-open"></i>
                                    <a href="#">News</a>
                                </li>
                                <li>
                                    <a href="blog-single.html#comments">
                                        <i class="icon-comments"></i>
                                        13</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-camera-retro"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>${article.description}</p>
                            <a href="blog-single.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            `)
        }).join('')
        return listArticles
    }

%>
