/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

a.active {
	color: #1ABC9C !important
}

a.active2 {
	color: #00cc62 !important
}

#tab-3 {
	margin-top: 40px !important;
}

.entry-content p {
	margin-bottom: 0px !important;
}
#posts .entry {
		margin-bottom: 0px !important;
}
.w-info {
	margin-top: 40px !important;
}

.checkout-form {
	padding-bottom: 0 !important ;
}

#top-user a::after {
	content: none
}

#top-user a:hover {
	cursor: pointer;
}
.top-user-content {
	opacity: 1;
	top: calc( 20% ) !important;
	width: 180px !important;
}

.product-img {
	width: 250px !important;
	height: 200px !important;
}



