<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />
  <!-- Stylesheets ============================================= -->
  <% include ./components/stylesheet %>
  <!-- Document Title
        	============================================= -->
  <title><%= typeof title !== 'undefined'? title : 'Trang đăng ký - đăng nhập' %></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/uploads/setting/468274f8ab536aebd7570412bdca2da5">\
  <link rel="icon" href="/uploads/logo/logo.PNG" type="image/x-icon">
</head>

<body class="stretched">

  <!-- Document Wrapper ============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header ============================================= -->
    <% include ./components/Header %>

    <!-- #header end -->
    <%- body %>

    <!-- Footer ============================================= -->
    <% include ./components/Footer %>
    <!-- #footer end -->

  </div>

  <!-- #wrapper end -->

  <!-- Go To Top ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- JavaScripts ============================================= -->
  <% include ./components/Script %>
  <% include ./components/ToastrMessage %>

</body>

</html>