<!-- Content Header (Page header) -->
<% include ../../viewHelpers/form_helper %>
<% include ../../components/PageHeader %>
<section class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title">Form</h3>
        </div>
        <%- showForm(collection, categories, brands, 'POST', `/admin/${collection}/edit`, 'multipart/form-data', id, name, ordering, status, '', category_id, image, description, '', is_special, price, quantity, sold, sale, size, ram, cpu, ssd, vga, brand_id, gallery_image) %>
      </div>
    </div>
  </div>
</section>