<% include ../../viewHelpers/selectBox_helper %>
<div class="row col-mb-30">
  <div class="col-lg-6">
    <h4>Địa điểm giao hàng</h4>
    <form class="row">
      <div class="col-12 form-group">
        <select class="sm-form-control" id="select" onchange="javascript:handleSelectLocation()">
          <option value="">Chọn khu vực</option>
          <%- showSelectBox(locations) %>
        </select>
      </div>
      <div class="col-12 form-group">
        <button class="button button-3d m-0 button-black">Cập nhật giá tổng</button>
      </div>
    </form>
  </div>

  <div class="col-lg-6">
    <h4>Tổng tiền các sản phẩm trong giỏ hàng</h4>

    <div class="table-responsive">
      <table class="table cart cart-totals">
        <tbody>
          <tr class="cart_item">
            <td class="cart-product-name">
              <strong>Tổng giá sản phẩm</strong>
            </td>

            <td class="cart-product-name">
              <span class="amount" id="cart-total">0 Đ</span>
            </td>
          </tr>
          <tr class="cart_item">
            <td class="cart-product-name">
              <strong>Phí vận chuyển</strong>
            </td>

            <td class="cart-product-name">
              <span class="amount" id="shipping">Chọn khu vực vận chuyển</span>
            </td>
          </tr>
          <tr class="cart_item">
            <td class="cart-product-name">
              <strong>Mã giảm giá</strong>
            </td>

            <td class="cart-product-name">
              <span class="amount" id="discount">0 Đ</span>
            </td>
          </tr>
          <tr class="cart_item">
            <td class="cart-product-name">
              <strong>Tổng:</strong>
            </td>

            <td class="cart-product-name">
              <span class="amount color lead"><strong id="total">0 Đ</strong></span>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>