<% include ../../viewHelpers/selectBox_helper %>
<div class="row col-mb-30">

  <div class="col-lg-12 text-center">
    <h4>Tổng tiền các sản phẩm trong giỏ hàng</h4>

    <div class="table-responsive">
      <table class="table cart cart-totals">
        <tbody>
          <tr class="cart_item">
            <td class="cart-product-name">
              <strong class="text-left">Tổng giá sản phẩm</strong>
            </td>

            <td class="cart-product-name">
              <span class="amount" id="cart-total">0 Đ</span>
            </td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>