<div class="row col-mb-30">
  <div class="col-lg-6">
    <h4>Địa điểm giao hàng</h4>
    <form class="row">
      <div class="col-12 form-group">
        <select class="sm-form-control">
          <option value="AX">&#197;land Islands</option>
          <option value="AF">Afghanistan</option>
          <option value="AL">Albania</option>
        </select>
      </div>
      <div class="col-12 form-group">
        <button class="button button-3d m-0 button-black">Cập nhật giá tổng</button>
      </div>
    </form>
  </div>

  <div class="col-lg-6">
    <h4>Tổng tiền các sản phẩm trong giỏ hàng</h4>

    <div class="table-responsive">
      <table class="table cart cart-totals">
        <tbody>
          <tr class="cart_item">
            <td class="cart-product-name">
              <strong>Tổng giá sản phẩm</strong>
            </td>

            <td class="cart-product-name">
              <span class="amount" id="cart-total">0</span>
            </td>
          </tr>
          <tr class="cart_item">
            <td class="cart-product-name">
              <strong>Phí vận chuyển</strong>
            </td>

            <td class="cart-product-name">
              <span class="amount">Miễn phí vận chuyển</span>
            </td>
          </tr>
          <tr class="cart_item">
            <td class="cart-product-name">
              <strong>Tổng:</strong>
            </td>

            <td class="cart-product-name">
              <span class="amount color lead"><strong id="total">$106.94</strong></span>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>