<table class="table cart mb-5">
  <thead>
    <tr>
      <th class="cart-product-remove">&nbsp;</th>
      <th class="cart-product-thumbnail">&nbsp;</th>
      <th class="cart-product-name">Tên sản phẩm</th>
      <th class="cart-product-price">Đơn giá</th>
      <th class="cart-product-quantity">Số lượng</th>
      <th class="cart-product-subtotal">Tổng giá</th>
    </tr>
  </thead>
  <tbody id="cart-items">

  </tbody>
  <tbody style="border-top: none;">
    <tr>
      <td colspan="6">
        <div class="row justify-content-between py-2 col-mb-30">
          <div class="col-lg-auto ps-lg-0">
            <div class="row">
              <div class="col-md-8">
                <input id="coupon" type="text" value="" class="sm-form-control text-center text-md-start" placeholder="Nhập mã giảm giá.." />
              </div>
              <div class="col-md-4 mt-3 mt-md-0">
                <a href="javascript:handleEnterCoupon()" class="button button-3d button-black m-0">Nhập</a>
              </div>
            </div>
          </div>
          <div class="col-lg-auto pe-lg-0">
            <a href="/cart" class="button button-3d m-0">Cập nhật</a>
            <a href="/checkout" class="button button-3d mt-2 mt-sm-0 me-0">Thanh toán</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>

</table>