<% include ../../viewHelpers/article_helper %>
<% include ./pagination %>
<div class="postcontent col-lg-9 order-lg-last">

  <!-- Posts ============================================= -->
  <div id="posts" class="row grid-container gutter-40" style="margin-top: 60px !important;">

    <%- showArticle(articles, 300) %>
  </div>
  <!-- #posts end -->

  <!-- Pager ============================================= -->
  <%- handlepagination(pagination, category_id) %>
  <!-- .pager end -->

</div>