<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      <div class="row gutter-40 col-mb-80">
        <!-- Post Content============================================= -->
        <% include ./Post %>
        <!-- .postcontent end -->

        <!-- Sidebar
						============================================= -->
        <% include ./Sidebar %>
        <!-- .sidebar end -->
      </div>

    </div>
  </div>
</section>