<% include ../../viewHelpers/flickr_helper %>
<h4>Kho ảnh</h4>
<div id="flickr-widget" class="flickr-feed masonry-thumbs grid-container has-init-isotope" data-type="group" data-lightbox="gallery" style="position: relative; height: 206px;">
    <%- showFlickr(articles)%>
</div>
