<div class="widget widget_links">
  <h4>Danh mục bài viết</h4>
  <ul>
    <% showCategory = (blogCategory) => {
            return blogCategory.map((category) => {
                return(`
                    <li><a href="/blog/${category.id}">${category.name}</a></li>
                `)
            }).join('')
        } %>
    <%- showCategory(blogCategory)  %>
  </ul>
</div>