<section id="page-title">

    <div class="container clearfix">
        <h1>Trang Tin Tức</h1>
        <span>Những tin mới nhất</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Tin Tức</li>
        </ol>
    </div>

</section>
