<div class="postcontent col-lg-9 order-lg-last">
  <div class="single-post mb-0">

    <!-- Single Post ============================================= -->
    <% include ./Info %>
    <!-- .entry end -->
    <% include ./RelatedPost %>
  </div>
</div>