<!-- Content Header (Page header) -->
<% include ../../viewHelpers/form_helper %>
<% include ../../components/PageHeader %>
<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">Form</h3>
                </div>
                <%- showForm('POST', '/admin/item', 'multipart/form-data') %>
            </div>
        </div>
    </div>
</section>
