<div class="tab-content" id="forgotPassword">
  <div class="card mb-0">
    <div class="card-body" style="padding: 40px;">
      <form id="forgotPassword-form" name="forgotPassword-form" class="mb-0" action="/forgotPassword" method="post">

        <h3>Quên mật khẩu</h3>

        <div class="row">
          <div class="col-12 form-group">
            <label for="forgotPassword-form-username">Email:</label>
            <input type="text" id="forgotPassword-form-username" name="email" value="" class="form-control" />
          </div>
          <div class="col-12 form-group">
            <button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login">Lấy lại mật khẩu</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>