  <div class="tab-content" id="register">-
    <div class="card mb-0">
      <div class="card-body" style="padding: 40px;">
        <h3>Đăng ký tài khoản</h3>

        <form id="register-form" name="register-form" class="row mb-0" action="/auth/register" method="post">
          <div class="col-12 form-group">
            <label for="register-form-email">Email:</label>
            <input type="text" id="register-form-email" name="email" value="" class="form-control" />
          </div>

          <div class="col-12 form-group">
            <label for="register-form-password">Mật khẩu:</label>
            <input type="password" id="register-form-password" name="password" value="" class="form-control" />
          </div>

          <div class="col-12 form-group">
            <label for="register-form-repassword">Nhập lại mật khẩu:</label>
            <input type="password" id="register-form-repassword" name="passwordComfirmation" value="" class="form-control" />
          </div>

          <div class="col-12 form-group">
            <button class="button button-3d button-black m-0" id="register-form-submit" name="register-form-submit" value="register">Đăng ký</button>
          </div>

        </form>
      </div>
    </div>
  </div>