<div id="logo">
  <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="/uploads/setting/<%= settings.header.logo%>" alt="Canvas Logo"></a>
  <a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="/uploads/setting/<%= settings.header.logo%>" alt="Canvas Logo"></a>
</div>