<div id="top-cart" class="header-misc-icon d-none d-sm-block">
  <a href="#" id="top-cart-trigger">
    <i class="<%= settings.header.cartIcon%>"></i>
    <span class="top-cart-number">0</span>
  </a>
  <div class="top-cart-content">
    <div class="top-cart-title">
      <h4>Giỏ hàng của bạn</h4>
    </div>
    <div class="top-cart-items">
      <h6 class="text-center m-0">Chưa có sản phẩm</h6>
    </div>
    <div class="top-cart-action">
      <span class="top-checkout-price">0 Đ</span>
      <a href="/gio-hang" class="button button-3d button-small m-0">Xem giỏ hàng</a>
    </div>
  </div>
</div>