<div id="top-user" class="header-misc-icon d-none d-sm-block">
  <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="content: none">
    <i class="icon-user21"></i>
  </a>
  <div class="dropdown-menu top-cart-content top-user-content">
    <%- typeof user === 'undefined' ? '<a class="dropdown-item" href="/auth/register-login">Đăng ký - Đăng nhập</a>' : ''  %>
    <%- typeof user === 'undefined' ? '' : '<a class="dropdown-item" href="/user">Thông tin cá nhân</a><a class="dropdown-item" href="/user/order">Đơn hàng của bạn</a><div class="dropdown-divider"></div><a class="dropdown-item" href="/auth/logout">Đăng xuất</a>'  %>
  </div>
</div>