<div class="postcontent col-lg-9">

  <h3>Gửi phản hồi cho chúng tôi</h3>

  <div class="form-widget">

    <div class="form-result"></div>

    <form class="mb-0" id="template-contactform" name="template-contactform" action="/admin/contact" method="post">

      <div class="form-process">
        <div class="css3-spinner">
          <div class="css3-spinner-scaler"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 form-group">
          <label for="template-contactform-name">Tên <small>*</small></label>
          <input type="text" id="template-contactform-name" name="name" value="" class="sm-form-control required" />
        </div>

        <div class="col-md-4 form-group">
          <label for="template-contactform-email">Email <small>*</small></label>
          <input type="email" id="template-contactform-email" name="email" value="" class="required email sm-form-control" />
        </div>

        <div class="col-md-4 form-group">
          <label for="template-contactform-phone">Điện thoại</label>
          <input type="text" id="template-contactform-phone" name="phone" value="" class="sm-form-control" />
        </div>

        <div class="w-100"></div>
        <div class="col-12 form-group">
          <label for="template-contactform-message">Nội dung <small>*</small></label>
          <textarea class="required sm-form-control" id="template-contactform-message" name="message" rows="6" cols="30"></textarea>
        </div>

        <div class="col-12 form-group d-none">
          <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
        </div>

        <div class="col-12 form-group">
          <button class="button button-3d m-0" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Gửi</button>
        </div>
      </div>

      <input type="hidden" name="prefix" value="template-contactform-">

    </form>
  </div>

</div>