<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= typeof title !== 'undefined'? `TTS's Admin | ${title}` : 'Admin' %></title>
  <% include ./components/stylesheet %>
  <link rel="icon" href="/uploads/logo/logo.PNG" type="image/x-icon">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Preloader -->
    <% include ./components/preloader %>

    <!-- Navbar -->
    <% include ./components/header %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <% include ./components/sidebar %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper"> <%- body %>
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- Footer -->
  <% include ./components/footer %>
  <!-- /.footer -->
  <!-- ./wrapper -->
  <% include ./components/scripts %>
  <% include ./components/toastrMessage %>

</body>

</html>
</head>

</html>