<% include ./image_helper %>
<% include ./select_helper %>

<%
    const statusArr = [{name: 'active', value: 'active'},{name: 'inactive', value: 'inactive'}]
    showForm = (collection, method, action, enctype, id, name, ordering, status, image, category_id) => {
        let imageXHtml = ''
        let categoryXHtml = ''
        let statusXHtml = showSelectBox('','status', statusArr, status, '100')
        switch (collection) {
            case 'item':
                imageXHtml = showUploadImage(image)
                break;
            case 'category':
                categoryXHtml = showSelectBox(collection, 'category_id', categories, category_id, '100')
                imageXHtml = ''
                break;
            case 'article':
                imageXHtml = showUploadImage(image)
                break;
            default:
                break;
        }
        return(`
            <form method="${method}" action="${action}" enctype="${enctype}">
                <div class="card-body">
                    <input type="hidden" name="id" value="${id ? id : ''}">
                    <div class="form-group">
                        <label for="itemName">Name</label>
                        <input name="name" value="${name ? name : ''}" type="text" class="form-control" id="itemName" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="itemOrdering">Ordering</label>
                        <input name="ordering" value="${ordering ? ordering : ''}" type="number" class="form-control" id="itemOrdering">
                    </div>
                    <div class="form-group">
                        ${statusXHtml}
                    </div>
                    <div class="form-group row">
                        ${categoryXHtml}
                    </div>
                        ${imageXHtml}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    <a type="button" class="btn btn-secondary float-right" href="/admin/${collection}">Cancel</a>
                </div>
            </form>`)
        }
    %>
