<% include ./input_helper %>
<% include ./image_helper %>
<% include ./selectBox_helper %>
<% include ./radio_helper %>
<% include ./textarea_helper %>

<%
    const statusArr = [{name: 'active', value: 'active'},{name: 'inactive', value: 'inactive'}]

    showForm = (collection, categories, method, action, enctype, id, name, ordering, status, url, category_parent, image, description, author,is_special) => {
        let nameXHtml = showInput('text', 'Name', 'name', name)
        let authorXHtml = showInput('text', 'Author', 'author', author)
        let urlXHtml = showInput('text', 'Url', 'url', url)
        let orderingXHtml = showInput('number', 'Ordering', 'ordering', ordering)
        let descriptionXHtml = showTextarea('Description', 'description', description)
        let imageXHtml = showUploadImage(image)
        let isSpecialXHtml = showRadio(is_special)
        let categoryXHtml = ''
        let statusXHtml = showSelectBox('', 'Status', 'status', statusArr, status, false, '')
        switch (collection) {
            case 'item':
                descriptionXHtml = ''
                authorXHtml = ''
                isSpecialXHtml = ''
                break;
            case 'category':
                imageXHtml = ''
                descriptionXHtml = ''
                isSpecialXHtml = ''
                authorXHtml = ''
                categoryXHtml = showSelectBox(collection, 'Category', 'category_id', categories, category_parent, false, '')
                break;
            case 'series':
                imageXHtml = ''
                descriptionXHtml = ''
                isSpecialXHtml = ''
                authorXHtml = ''
                categoryXHtml = showSelectBox(collection, 'Category', '', categories, category_parent, true, '') + 
                                showSelectBox(collection, 'Category-Sub', 'category_id', '', category_parent, false, 'list-categories')
                break;
            case 'article':
                categoryXHtml = showSelectBox(collection, 'Category', 'category_id', categories, category_parent, false, '')

                break;
            default:
                break;
        }
        return(`
            <form method="${method}" action="${action}" enctype="${enctype}">
                <div class="card-body">
                    <input type="hidden" name="id" value="${id ? id : ''}">
                        ${nameXHtml}
                        ${authorXHtml}
                        ${orderingXHtml}
                        ${urlXHtml}
                        ${isSpecialXHtml}
                        <div class="form-group row">
                            ${statusXHtml}
                        </div>
                        <div class="form-group row">
                            ${categoryXHtml}
                        </div>
                        ${descriptionXHtml}
                        ${imageXHtml}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    <a type="button" class="btn btn-secondary float-right" href="/admin/${collection}">Cancel</a>
                </div>
            </form>
        `)
        }
    %>
