<%
    handleImage = (image) => {
        return(`
        <td class="d-flex justify-content-center">
            <img class="img-thumbnail img-md" src="/backend/uploads/${image ? image : 'no-image.png'}" alt="" id="show-image">
        </td>
        `)
    }

   showUploadImage = (image) => {
        return(`
            <div class="form-group">
                <label>Image</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" id="add-image" class="custom-file-input" onchange="javascript:handleShowImage()" name="image">
                        <label class="custom-file-label" for="add-image">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <img class="img-lg" src="${image ? '/backend/uploads/'+image : ''}" alt="" id="show-image">
            </div>
        `)
    }

%>
