<% include ./checkbox_helper %>
<% include ./image_helper %>
<% include ./name_helper %>
<% include ./author_helper %>
<% include ./status_helper %>
<% include ./special_helper %>
<% include ./url_helper %>
<% include ./ordering_helper %>

<%
     showListItems = (collection, items, currentStatus, keyword, {currentPage}) => {
        let query = `?page=${currentPage}`
        if(keyword) 
            query += `&search=${keyword}`
        const listItems =  items.map((item, index) => {
            let checkboxXHtml = handleCheckbox(item.id, item.email)
            let imageXHtml    = handleImage(item.image)
            let emailXHtml    = handleName(item.email, keyword)
            let nameXHtml     = handleName(item.name, keyword)
            let authorXHtml   = handleAuthor(item.author)
            let statusXHtml   = handleStatus(collection, item.status, item.id, query)
            let specialXHtml  = handleSpecial(collection, item.id, item.is_special)
            let urlXHtml      = handleUrl(collection, item.url, item.id)
            let orderingXHtml = handleOrdering(collection, item.ordering, item.id)
            let editXHml = `<a type="button" class="btn btn-primary" href="/admin/${collection}/edit/${item._id}">Edit</a>`
            let deleteXHml = `<a type="button" class="btn btn-danger" onclick="javascript:handleDelete('${collection}','${item._id}')">Delete</a>`
            switch (collection) {
                case 'item':
                    urlXHtml = ''
                    authorXHtml = ''
                    specialXHtml = ''
                    break;
                case 'category':
                    imageXHtml = ''
                    authorXHtml = ''
                    specialXHtml = ''
                    break;
                case 'series':
                    imageXHtml = ''
                    authorXHtml = ''
                    specialXHtml = ''
                    break;
                case 'article':
                    break;
                case 'subcribe':
                    imageXHtml = ''
                    nameXHtml = ''
                    authorXHtml = '' 
                    specialXHtml = '' 
                    urlXHtml = ''
                    orderingXHtml = '' 
                    editXHml = ''
                default:
                    break;
            }
           
            return  (`
                        <tr>
                            <td>${checkboxXHtml}</td>
                            <td>${index+=1}</td>
                                ${imageXHtml}
                                ${nameXHtml}
                                ${emailXHtml}
                                ${authorXHtml}
                                ${statusXHtml}
                                ${specialXHtml}
                                ${urlXHtml}
                                ${orderingXHtml}
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                ${editXHml}
                                ${deleteXHml}
                                </div>
                            </td>
                        </tr>
                    `)
        }).join('')
        return listItems
    }
%>