<% include ./image_helper %>
<% include ./name_helper %>
<% include ./status_helper %>
<% include ./ordering_helper %>

<%
     showListItems = (collection, items, currentStatus, keyword, {currentPage}) => {
        let query = `?page=${currentPage}`
        if(keyword) 
            query += `&search=${keyword}`
        const listItems =  items.map((item, index) => {
            let imageXHtml    = handleImage(item.image)
            let nameXHtml     = handleName(item.name, keyword)
            let statusXHtml   = handleStatus(collection, item.status, item.id, query)
            let orderingXHtml = handleOrdering(collection, item.ordering, item.id)

            switch (collection) {
                case 'category':
                    imageXHtml = ''
                    break;
            
                default:
                    break;
            }
           
            return  (`
                        <tr>
                            <td><input type="checkbox" class="checkbox"/></td>
                            <td>${index+=1}</td>
                                ${imageXHtml}
                                ${nameXHtml}
                                ${statusXHtml}
                                ${orderingXHtml}
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a type="button" class="btn btn-primary" href="/admin/${collection}/edit/${item._id}">Edit</a>
                                    <a type="button" class="btn btn-danger" onclick="javascript:handleDelete('${collection}','${item._id}')">Delete</a>
                                </div>
                            </td>
                        </tr>
                    `)
        }).join('')
        return listItems
    }
%>
