<%
    showISelectBox = (arr, id, status) => {
        let selected = ''
        const options = arr.map((item) => {
            if(item.value.toLowerCase() === status.toLowerCase())
            selected = 'selected="selected"'
            else selected = ''
            return(`
                <option ${selected} value='${item.value}'>${item.name}</option>
            `)
        }).join('')
        return(`
        <td>
            <select onchange="javascript:handleSelectStatus('${id}')" class="custom-select form-control-border border-width-2" id="status-select">
              ${options}
            </select>
            </td>
        `)
    }
%>