<% include ./checkbox_helper %>
<% include ./image_helper %>
<% include ./name_helper %>
<% include ./author_helper %>
<% include ./status_helper %>
<% include ./special_helper %>
<% include ./url_helper %>
<% include ./ordering_helper %>

<%
     showListItems = (collection, items, currentStatus, keyword, {currentPage}) => {
        let query = `?page=${currentPage}`
        if(keyword) 
            query += `&search=${keyword}`
        const listItems =  items.map((item, index) => {
            let showHomeXHtml = ''
            let phoneXHtml = ''
            let checkboxXHtml = handleCheckbox(item.id, item.email)
            let imageXHtml = handleImage(item.image,collection)
            let emailXHtml    = handleName(item.email, keyword)
            let nameXHtml     = handleName(item.name, keyword)
            let authorXHtml   = handleAuthor(item.author)
            let statusXHtml   = handleStatus(collection, item.status, item.id, query)
            let specialXHtml = '</td>' + handleSpecial(collection, item.id, 'Special', item.is_special, 'special')+'</td>'
            let menuXHtml   = '<td>' + handleSpecial(collection, item.id, '', item.isMenu, 'menu') +'</td>'
            let urlXHtml      = handleUrl(collection, item.url, item.id)
            let orderingXHtml = handleOrdering(collection, item.ordering, item.id)
            let editXHml = `<a type="button" class="btn btn-primary" href="/admin/${collection}/edit/${item._id}">Edit</a>`
            let deleteXHml = `<a type="button" class="btn btn-danger" onclick="javascript:handleDelete('${collection}','${item._id}')">Delete</a>`
            switch (collection) {
                case 'item':
                    urlXHtml = ''
                    authorXHtml = ''
                    specialXHtml = ''
                    menuXHtml = ''
                    emailXHtml = ''  
                    break;
                case 'category/main':
                    imageXHtml = ''
                    authorXHtml = ''
                    specialXHtml = ''
                    emailXHtml = ''
                    break;
                case 'category/article':
                    imageXHtml = ''
                    authorXHtml = ''
                    menuXHtml = ''
                    specialXHtml = ''
                    emailXHtml = ''
                    break;
                case 'category/product':
                    imageXHtml = ''
                    authorXHtml = ''
                    menuXHtml = ''
                    specialXHtml = ''
                    emailXHtml = ''
                    break;
                case 'brand':
                    urlXHtml = ''
                    authorXHtml = ''
                    menuXHtml = ''
                    emailXHtml = ''
                    break;
                case 'product':
                    specialXHtml ='<td>' + handleSpecial(collection, item.id, 'Special', item.specialShowhome.special, 'special')
                    showHomeXHtml = handleSpecial(collection, item.id, 'Show', item.specialShowhome.showHome, 'show') + '</td>'
                    urlXHtml = ''
                    authorXHtml = ''
                    menuXHtml = ''
                    emailXHtml = ''
                    break;
                case 'article':
                    urlXHtml = ''
                    menuXHtml = ''
                    emailXHtml = ''  
                    break;
                case 'subscribe':
                    imageXHtml = ''
                    nameXHtml = ''
                    authorXHtml = '' 
                    specialXHtml = '' 
                    urlXHtml = ''
                    orderingXHtml = '' 
                    menuXHtml = ''
                    editXHml = ''
                    break;
                case 'slider':
                    emailXHtml = ''
                    nameXHtml = ''
                    authorXHtml = ''
                    specialXHtml = ''
                    menuXHtml = ''
                    urlXHtml = ''
                    break;
                case 'contact':
                    statusXHtml = ''
                    imageXHtml = ''
                    authorXHtml = ''
                    specialXHtml = ''
                    urlXHtml = ''
                    orderingXHtml = ''
                    menuXHtml = ''
                    editXHml = ''
                    phoneXHtml = handleName(item.phone)
                    break;
                default:
                    break;
            }
           
            return  (`
                        <tr>
                            <td>${checkboxXHtml}</td>
                            <td>${index+=1}</td>
                                ${imageXHtml}
                                ${nameXHtml}
                                ${phoneXHtml}
                                ${emailXHtml}
                                ${authorXHtml}
                                ${statusXHtml}
                                ${specialXHtml}
                                ${showHomeXHtml}
                                ${menuXHtml}
                                ${urlXHtml}
                                ${orderingXHtml}
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                ${editXHml}
                                ${deleteXHml}
                                </div>
                            </td>
                        </tr>
                    `)
        }).join('')
        return listItems
    }
%>