<%
    handleName = (name, keyword) => {
        if(keyword) {
            const regex = new RegExp(keyword, 'gi')
            const nameHighlight = name.replace(regex, result => {
                return `<span class="text-red">${result}</span>`
            })
            return `<td>${nameHighlight}</td>`
        }else return `<td>${name}</td>`
    }

%>
