<%
    handleOrdering = (collection, ordering, id) => {
        return(`
            <td id="ordering-${id}">
                <input 
                    onChange="javascript:handleOrderingChange('${collection}','${id}')"
                    type="number" 
                    value="${ordering}" 
                    class="ordering"    
                />
            </td>
        `)
    }

%>
