<%
    const sidebarDatas = [
        {
            isParent: false,
            url: '/admin' ,
            icon: 'fas fa-tachometer-alt',
            iconDropdown: '',
            name: 'Dashboard'
        },
        // {
        //     isParent: true,
        //     url: '#',
        //     icon: 'fas fa-th',
        //     name: 'Item',
        //     iconDropdown: 'fas fa-angle-left',
        //     child: [
        //         {
        //             url: '/admin/item',
        //             icon: 'far fa-circle',
        //             name: 'List'
        //         },
        //         {
        //             url: '/admin/item/add',
        //             icon: 'far fa-circle',
        //             name: 'Add'
        //         },
        //     ]
        // },
        {
            isParent: true,
            url: '#',
            icon: 'fas fa-th-list',
            name: 'Categories',
            iconDropdown: 'fas fa-angle-left',
            child: [
                {
                    url: '/admin/category/main',
                    icon: 'far fa-circle',
                    name: `Main Category`
                },
                {
                    url: '/admin/category/article',
                    icon: 'far fa-circle',
                    name: `Article's Categories`
                },
                {
                    url: '/admin/category/product',
                    icon: 'far fa-circle',
                    name: `Product's Categories`
                },
            ]
        },
        {
            isParent: true,
            url: '#',
            icon: 'fas fa-th-list',
            name: 'Items',
            iconDropdown: 'fas fa-angle-left',
            child: [
                {
                    url: '/admin/article',
                    icon: 'fas fa-newspaper',
                    name: `Articles`
                },
                {
                    url: '/admin/product',
                    icon: 'fab fa-product-hunt',
                    name: `Products`
                },
                {
                    url: '/admin/brand',
                    icon: 'fas fa-copyright',
                    name: `Brands`
                },
            ]
        },
        {
        isParent: false,
        url: '/admin/slider' ,
        icon: 'fas fa-tachometer-alt',
        iconDropdown: '',
        name: 'Slider'
        },
        {
        isParent: false,
        url: '/admin/subscribe' ,
        icon: 'fas fa-tachometer-alt',
        iconDropdown: '',
        name: 'Subscribe'
        },
        {
        isParent: false,
        url: '/admin/contact' ,
        icon: 'fas fa-cog',
        iconDropdown: '',
        name: 'Contact'
        },
        {
            isParent: false,
            url: '/admin/setting' ,
            icon: 'fas fa-cog',
            iconDropdown: '',
            name: 'Setting'
        },
        
    ]

    showListSidebar = () => {
        return sidebarDatas.map((sidebar, index)=> {
            let dropdownData = ''
            let menuOpen = 'menu-clock'
            let parentActive = ''
            let childActive = ''
            
            if(sidebar.url === currentUrl) parentActive = 'active'
            if(sidebar.isParent) {
                dropdownList = sidebar.child.map((dataChild) => {

                    if(currentUrl.includes(dataChild.url)) {
                        parentActive = 'active'
                        menuOpen = 'menu-open'
                        childActive = 'active'
                    }else {
                        childActive = ''
                    }
                   

                    return (`
                        <li class="nav-item">
                            <a href="${dataChild.url}" class="nav-link ${childActive}">
                                <i class="${dataChild.icon} nav-icon"></i>
                                <p>${dataChild.name}</p>
                            </a>
                        </li>
                    `)
                }).join('')
                dropdownData = `<ul class="nav nav-treeview">${dropdownList}</ul>`
                
            }
            return(`
                <li class="nav-item ${menuOpen}">
                    <a href="${sidebar.url}" class="nav-link ${parentActive}">
                        <i class="nav-icon ${sidebar.icon}"></i>
                        <p>
                            ${sidebar.name}
                            <i class="right  ${sidebar.iconDropdown}"></i>
                        </p>
                    </a>
                    ${dropdownData}
                </li>
            `)
        }).join('')
    }

%>