<%
    handleSpecial = (collection, id, label, isSpecial, name) => {
        let js = `onchange="javascript:handleChangeIsSpecial('${collection}','${id}','${isSpecial}','${name}')"`
        if(name === 'show') 
        js = `onchange="javascript:handleChangeIsShowhome('${collection}','${id}','${isSpecial}','${name}')"`
        return(`
                <div class="custom-control custom-switch">
                    <input 
                        ${js}
                        type="checkbox" 
                        class="custom-control-input" 
                        id="${name}-${id}"
                        name="${name}"
                        ${isSpecial ? 'checked' : ''}
                        >
                    <label class="custom-control-label" for="${name}-${id}">${label}</label>
                </div>
        `)
    }
%>