<%
    showFilter = (collection, filter,statusFilterOptions, currentStatus, keyword) => {
        let query = ''
        if(keyword) 
            query = `?search=${keyword}`
       
        const xHtmlFilter = filter.map((status,index) => {
            let color = ''
            let isActive = ''
            switch (status.name) {
                case statusFilterOptions.active:
                    color = 'success'
                    break;
                case statusFilterOptions.inactive:
                    color = 'danger'
                    break;
                case statusFilterOptions.done:
                    color = 'success'
                    break;
                case statusFilterOptions.not:
                    color = 'danger'
                    break;
                case statusFilterOptions.cancel:
                    color = 'secondary'
                    break;
                default:
                    color = 'dark'
                    break;
            }
            if(status.name === currentStatus) isActive = 'active'
            if(currentStatus === undefined && status.name === statusFilterOptions.all) isActive = 'active'
            
            return(`
                <a  id="status-${status.name.toLowerCase()}"
                    type="button" 
                    class="btn btn-outline-${color} ${isActive}"
                    href="/admin/${collection}/status/${status.name}${query}"
                >${status.name} (${status.qty})</a>
            `)
        }).join('') 
        return xHtmlFilter
    }

    handleStatus = (collection, status, id, query) => {
        let buttColor = status === 'active' ? 'success' : 'danger'
        return(`
            <td id="status-${id}">
                <a 
                    type="button" 
                    class="btn btn-${buttColor}"
                    href="javascript:handleStatusClick('${collection}','${id}', '${status}', '${query}')"
                >
                    ${status}
                </a>
            </td>
        `)
    }
%>