<%
    showFilter = (filter,statusFilterOptions, currentStatus, keyword) => {
        let query = ''
        if(keyword) 
            query = `?search=${keyword}`
       
        xHtmlFilter = filter.map((status,index) => {
            let color = ''
            let isActive = ''
            switch (status.name) {
                case statusFilterOptions.active:
                    color = 'success'
                    break;
                case statusFilterOptions.inactive:
                    color = 'danger'
                    break;
                default:
                    color = 'dark'
                    break;
            }
            if(status.name === currentStatus) isActive = 'active'
            if(currentStatus === undefined && status.name === statusFilterOptions.all) isActive = 'active'
            
            return(`
                <a  id="status-${status.name.toLowerCase()}"
                    type="button" 
                    class="btn btn-outline-${color} ${isActive}"
                    href="/admin/item/status/${status.name}${query}"
                >${status.name} (${status.qty})</a>
            `)
        }).join('') 
        return xHtmlFilter
    }

    handleStatus = (status, id, query) => {
        let buttColor = status === 'active' ? 'success' : 'danger'
        return(`
            <a 
                type="button" 
                class="btn btn-${buttColor}"
                href="javascript:handleStatusClick('${id}', '${status}', '${query}')"
            >
                ${status}
            </a>
        `)
    }
%>
