<%
    showTextarea = (label, name, value) => {
        return(`
            <div class="form-group">
                <label for="itemName">${label}</label>
                <textarea name="${name}" id="${name}"  class="form-control" placeholder="Enter ${label}">${value ? value : ''}</textarea>
            </div>
            <script>
            ClassicEditor.create(document.querySelector('#${name}'))
            .catch(error => {
            console.error(error);
            });
            </script>
        `
        )
    }
%>