<% include ../Pagination %>
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      <div class="row gutter-40 col-mb-80">

        <!-- Post Content============================================= -->
        <% include ./Item %>
        <!-- .postcontent end -->

        <!-- Sidebar============================================= -->
        <% include ./Sidebar %>
        <!-- .sidebar end -->

        <!-- pageination -->
        <div class="postcontent col-lg-9 order-lg-last">
          <ul class="pagination justify-content-end">
            <%-showpagination(collection, category_id, keyword, pagination, price, sort, sale, brand_id) %>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>