<% include ../../viewHelpers/product_helper%>

<div class="w-100">

  <h4>Sản phẩm liên quan</h4>

  <div class="owl-carousel product-carousel carousel-widget" data-margin="30" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-md="2" data-items-lg="3" data-items-xl="4">
    <%- showProdRelated(relatedProd) %>

  </div>

</div>