<% include ../../viewHelpers/filter_helper %>
<div class="row justify-content-end align-items-center">

  <div class="col-auto mb-4 d-flex">
    <!-- brands filter -->
    <%- showFilter(brands,keyword,currentPage,category_id,brand_id, 'Lọc theo thương hiệu', 'brand') %>
    <!-- price filter -->
    <%- showFilter(priceFilter,keyword,currentPage,category_id,brand_id, 'Lọc theo giá', 'price') %>
    <!-- name filter -->
    <%- showFilter(saleFilter,keyword,currentPage,category_id,brand_id, 'Lọc theo giá giảm', 'sale') %>

    <%- showFilter(nameFilter,keyword,currentPage,category_id,brand_id, 'Xếp theo tên', 'name') %>


    <a type="button" class="button button-border m-0  button-dark border-width-2 border-dark nott ls0 fw-normal " style="margin-left: 10px !important;" href="/shop">
      Đặt lại
    </a>

  </div>
</div>