<% include ../../viewHelpers/product_helper%>
<div class="postcontent col-lg-9 order-lg-last">
  <% include ./FilterSort %>

  <!-- Shop============================================= -->
  <div id="shop" class="shop row grid-container gutter-20" data-layout="fitRows">
    <%- showProductItem(products) %>

  </div><!-- #shop end -->

</div>