<div class="col-lg-6" style="margin-top: 20px !important;">
  <h4>Đơn hàng của bạn</h4>

  <div class="table-responsive">
    <table class="table cart">
      <thead>
        <tr>
          <th class="cart-product-thumbnail">&nbsp;</th>
          <th class="cart-product-name">Tên sản phẩm</th>
          <th class="cart-product-quantity" style="padding: 12px !important;">Số lượng</th>
          <th class="cart-product-subtotal">Tổng giá</th>
        </tr>
      </thead>
      <tbody id="checkout-cart">

      </tbody>

    </table>
  </div>
</div>

<div class="col-lg-6" style="margin-top: 20px !important;">
  <h4>Tổng tiền các sản phẩm trong giỏ hàng</h4>

  <div class="table-responsive">
    <table class="table cart">
      <tbody>
        <tr class="cart_item">
          <td class="border-top-0 cart-product-name">
            <strong>Tổng giá sản phẩm</strong>
          </td>

          <td class="border-top-0 cart-product-name">
            <span class="amount" id="cart-total">0 Đ</span>
          </td>
        </tr>
        <tr class="cart_item">
          <td class="cart-product-name">
            <strong>Phí vận chuyển</strong>
          </td>

          <td class="cart-product-name">
            <span class="amount" id="shipping">Chọn khu vực vận chuyển</span>
          </td>
        </tr>
        <tr class="cart_item">
          <td class="cart-product-name">
            <strong>Mã giảm giá</strong>
          </td>

          <td class="cart-product-name">
            <span class="amount" id="discount">0 Đ</span>
          </td>
        </tr>
        <tr class="cart_item">
          <td class="cart-product-name">
            <strong>Tổng:</strong>
          </td>

          <td class="cart-product-name">
            <span class="amount color lead"><strong id="total">0 Đ</strong></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="button button-3d float-end" id="checkout-button">Đặt hàng</a>
</div>