<div class="row col-mb-30 gutter-50 mb-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        Đã có tài khoản <a href="/auth/register-login">Bấm vào đây để đăng nhập</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        Có mã giảm giá <a href="/cart">Bấm vào đây để nhập mã</a>
      </div>
    </div>
  </div>
</div>