<section id="page-title" style="padding: 30px 0 !important; vertical-align: middle;">

  <div class="container clearfix">
    <h3 style="margin-bottom: 5px !important;"><%= page %></h3>
    <span><%= pageDesc %></span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= collection %></li>
    </ol>
  </div>

</section>