<section id="page-title" style="padding: 30px 0 !important; vertical-align: middle;">

  <div class="container clearfix d-flex justify-content-between">
    <div>
      <h3 style="margin-bottom: 5px !important;"><%= page %></h3>
      <span><%= pageDesc %></span>
    </div>
    <% if(typeof keyword !== 'undefined' && keyword.trim() !== '') {  %>
    <h2>Có <b style="color: red !important;"><%= totalItems %></b> kết quả được tìm thấy với từ khóa <b style="color: red !important;"><%= keyword %></b></h2>
    <% }%>
  </div>

</section>