<section id="page-title">

  <div class="container clearfix">
    <h1><%= page %></h1>
    <span><%= pageDesc %></span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= collection %></li>
    </ol>
  </div>

</section>