<div id="top-bar">
  <div class="container">

    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-auto">
        <p class="mb-0 py-2 text-center text-md-start">
          <strong>Call:</strong>
          1800-547-2145 |
          <strong>Email:</strong>
          info@canvas.com
        </p>
      </div>

      <div class="col-12 col-md-auto">

        <!-- Top Links ============================================= -->
        <div class="top-links on-click">
          <ul class="top-links-container">
            <li class="top-links-item">
              <%- typeof user === 'undefined'?'<a href="/auth/register-login">Đăng ký - Đăng nhập</a>':'<a href="/auth/logout">Đăng xuất</a>'%>
              <!-- <a href="/user/register-login">Đăng ký - Đăng nhập</a> -->
              <!-- .top-links end -->

        </div>
      </div>

    </div>
  </div>