<%
     showListItems = (items) => {
        const listItems =  items.map((item, index) => {
            let buttColor = item.status === 'active' ? 'success' : 'danger'
            return  (`
                        <tr>
                            <td><input type="checkbox" class="checkbox"/></td>
                            <td>${index+=1}</td>
                            <td>${item.name}</td>
                            <td>
                                <a 
                                    type="button" 
                                    class="btn bg-${buttColor}"
                                    href="/admin/item/${item._id}/${item.status}"
                                    >${item.status}</a>
                            </td>
                            <td><input type="number" value="${item.ordering}" class="ordering"/></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a type="button" class="btn btn-warning" href="/admin/item/edit/${item._id}">Edit</a>
                                    <a type="button" class="btn btn-danger"  href="/admin/item/delete/${item._id}">Delete</a>
                                </div>
                            </td>
                        </tr>
                    `)
        }).join('')
        return listItems
    }
%>
