<% include ../../components/PageHeader %>
<div class="col-12 col-sm-24">
  <form action="/admin/setting/" method="POST" enctype="multipart/form-data">
    <div class="card card-dark card-tabs">
      <div class="card-header p-0 pt-1">
        <% include ../../components/Tabs %>
      </div>
      <div class="card-body">
        <% include ../../components/Subtabs %>
      </div>
      <!-- /.card -->
    </div>
  </form>
</div>