<% include ../../viewHelpers/article_helper %>
<div class="fancy-title title-border title-center topmargin-sm">
  <h4>Tin tức công nghệ</h4>
</div>
<div id="posts" class="row grid-container gutter-40">
  <%-
        showArticle(articles)
    %>
</div>