<% include ../../viewHelpers/article_helper %>
<div class="fancy-title title-border title-center topmargin-sm" style="margin-top: 0px !important;">
  <h4>TIN TỨC CÔNG NGHỆ</h4>
</div>
<div id="posts" class="row grid-container gutter-40">
  <%-
        showArticle(articles, 580)
    %>
</div>