<% include ../../viewHelpers/brand_helper %>
<div class="fancy-title title-border title-center topmargin-sm" style="margin-top: 10px !important;">
  <h4>THƯƠNG HIỆU</h4>
</div>

<ul class="clients-grid grid-2 grid-sm-3 grid-md-6 mb-0">
  <%- showBrand(brands) %>
</ul>