<% include ../../viewHelpers/brand_helper %>
<div class="fancy-title title-border title-center topmargin-sm">
  <h4>Thương hiệu</h4>
</div>

<ul class="clients-grid grid-2 grid-sm-3 grid-md-6 mb-0">
  <%- showBrand(brands) %>
</ul>