<section id="content">
  <div class="content-wrap" style="padding-top: 0 !important;">
    <div class="container clearfix">
      <!-- modal -->

      <!-- Shop items -->
      <% include ./Item %>
      <!-- #shop items  end-->
      <div class="clear bottommargin-sm"></div>
      <!-- Posts============================================= -->
      <% include ./Article %>
      <!-- #posts end -->
      <div class="clear"></div>
      <!-- AUsSubConn -->
      <% include ./AUsSubConn %>
      <!-- #AUsSubConn end -->
      <div class="clear"></div>
      <!-- Brands -->
      <% include ./Brand %>
      <!-- #brands end -->
    </div>
    <!-- purchase information -->
    <% include ./Infor %>
    <!-- #purchase information end-->
    <!-- Discount -->
    <% include ./Discount %>
    <!-- #discount end -->
  </div>
</section>
<!-- script -->