<% include ../../viewHelpers/product_helper%>

<div class="tabs topmargin-lg clearfix" id="tab-3">

  <ul class="tab-nav clearfix">
    <li>
      <a href="#tabs-9">Sản phẩm mới</a>
    </li>
    <li>
      <a href="#tabs-10">Sản phẩm bán chạy</a>
    </li>
    <li>
      <a href="#tabs-11">Sản phẩm nổi bật</a>
    </li>
  </ul>

  <div class="tab-container">

    <div class="tab-content" id="tabs-9">

      <div class="shop row gutter-30">

        <%- showProductItem(recentProd) %>

      </div>

    </div>

    <div class="tab-content" id="tabs-10">

      <div class="shop row gutter-30">

        <%- showProductItem(popularProd) %>

      </div>
    </div>

    <div class="tab-content" id="tabs-11">

      <div class="shop row gutter-30">

        <%- showProductItem(specialProd) %>

      </div>

    </div>

  </div>

</div>