<div class="modal-on-load" data-target="#myModal1"></div>

<!-- Modal -->
<div class="modal1 mfp-hide subscribe-widget" id="myModal1">
  <div class="block dark mx-auto" style="background: url('images/modals/modal1.jpg') no-repeat; background-size: cover; max-width: 700px;" data-height-xl="400">
    <div style="padding: 50px;">
      <div class="heading-block border-bottom-0 bottommargin-sm " style="max-width:500px;">
        <h3 class="text-black">Tin mới cho người đăng ký</h3>
        <span class="text-black">Cập nhật những sản phẩm và ưu đãi mới nhất</span>
      </div>
      <div class="widget-subscribe-form-result"></div>
      <form class="widget-subscribe-form2" action="/admin/subscribe" method="post" style="max-width: 350px;">
        <input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Enter your Email">
        <button class="button button-rounded button-border button-light ms-0" type="submit" style="margin-top:15px;">Đăng ký</button>
      </form>
      <p class="mb-0"><small><em>*Nói không với Spam Emails.</em></small></p>
    </div>
  </div>
</div>