<%
    showFilter = (filter,statusFilterOptions, currentStatus, keyword) => {
        let query = ''
        if(keyword) 
            query = `?search=${keyword}`
       
        xHtmlFilter = filter.map((status,index) => {
            let color = ''
            let isActive = ''
            switch (status.name) {
                case statusFilterOptions.active:
                    color = 'success'
                    break;
                case statusFilterOptions.inactive:
                    color = 'danger'
                    break;
                default:
                    color = 'dark'
                    break;
            }
            if(status.name === currentStatus) isActive = 'active'
            if(currentStatus === undefined && status.name === statusFilterOptions.all) isActive = 'active'
            
            return(`
                <a 
                    type="button" 
                    class="btn btn-outline-${color} ${isActive}"
                    href="/admin/item/status/${status.name}"
                >${status.name} (${status.qty})</a>
            `)
        }).join('') 
        return xHtmlFilter
    }
%>
