<%
    showFilter = (filter, currentStatus, keyword) => {
        let query = ''
        if(keyword) 
            query = `?search=${keyword}`
       
        xHtmlFilter = filter.map((status,index) => {
            let color = ''
            let active = ''
            switch (status.name) {
                case 'active':
                    color = 'success'
                    break;
                case 'inactive':
                    color = 'danger'
                    break;
                default:
                    color = 'dark'
                    break;
            }
            if(status.name === currentStatus) active = 'active'
            if(currentStatus === '' && status.name === 'all') active = 'active'
            
            return(`
                <a 
                    type="button" 
                    class="btn btn-outline-${color} ${active}"
                    href="/admin/item/status/${status.name}${query}"
                >${status.name} (${status.qty})</a>
            `)
        }).join('') 
        return xHtmlFilter
    }
%>
