<%  include ../../viewHelper/status %>

<div class="col-md-12">
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="card-title">Filter</h3>
        </div>
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <%- showFilter(filter, currentStatus) %>
            </div>
        </div>
    </div>
</div>
