<% include ../../components/BulkAction %>
<% include ../../components/Pagination %>
<% include ../../viewHelpers/item_helper %>
<% include ../../viewHelpers/dropdown_helper %>
<% include ../../components/CategoryFilter %>

<!-- Content Header (Page header) -->
<% include ../../components/PageHeader %>
<% include ../../components/StatusFilter %>
<div class="col-md-12">
  <div class="card">
    <div class="card-header bg-dark">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="card-title flex-1">List
            <%= collection %></h3>
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th><input type="checkbox" value="" id="check-all" /></th>
            <th>#</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- showListItems(collection, items, currentStatus,  keyword, pagination,selectStatusOption)  %>
        </tbody>
      </table>
    </div>
    <div class="card-footer clearfix">
      <nav aria-label="Page navigation example" class="float-right">
        <%- showPagination(collection, currentStatus, keyword, pagination) %>
      </nav>

    </div>
  </div>
</div>