<%
    showArticle = (articles, desLength) => {
        if(articles.length <= 0) return '<h3 class="text-center m-5">Không có bài viết nào được tìm thấy!</h3>'
        let listArticles = articles.map((article, index) => {
            let description = article.description
            let maxLength = desLength
            let reverseImg = ''
            let reverseContent = 'ps-md-4'
            if(index % 2 != 0) {
                reverseImg = 'order-md-last'
                reverseContent = 'pe-md-4'
            }
            if(article.description.length > maxLength) description = article.description.slice(0, maxLength) + '...'
            return(`
            <div class="entry col-12">
                <div class="grid-inner row g-0">
                    <div class="col-md-4 ${reverseImg}">
                        <div class="entry-image">
                            <a href="/bai-viet/${article.slug}-${article._id.toString()}" data-lightbox="image"
                            ><img src="/uploads/article/${article.image}" alt="Standard Post with Image"></a>
                        </div>
                    </div>
                    <div class="col-md-8 ${reverseContent}">
                        <div class="entry-title title-sm">
                            <h2>
                                <a href="/bai-viet/${article.slug}-${article._id.toString()}">${article.name}</a>
                            </h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>
                                    <i class="icon-calendar3"></i>
                                    ${new Date(article.createdAt).toISOString().slice(0, 10)}</li>
                                <li>
                                    <a>
                                        <i class="icon-user"></i>
                                        ${article.author}</a>
                                </li>
                                <li>
                                    <i class="icon-folder-open"></i>
                                    <a>Tin mới</a>
                                </li>
                                
                                <li>
                                    <a>
                                        <i class="icon-camera-retro"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="entry-content" style="margin-top: 10px !important" >
                            <p style="margin-bottom: 0 !important">${description}</p>
                            <a href="/bai-viet/${article.slug}-${article._id.toString()}" class="more-link">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            `)
        }).join('')
        return listArticles
    }

    showSidebarArticle = (articles) => {
         let listArticles = articles.map((article, index) => {
            let reverseImg = ''
            let reverseContent = 'ps-md-4'
            if(index % 2 != 0) {
                reverseImg = 'order-md-last'
                reverseContent = 'pe-md-4'
            }
            return(`
                <div class="entry col-12">
                    <div class="grid-inner row g-0">
                        <div class="col-auto">
                            <div class="entry-image">
                                <a>
                                    <img class="rounded-circle" src="/uploads/article/${article.image}" alt="Image">
                                </a>
                            </div>
                        </div>
                        <div class="col ps-3">
                            <div class="entry-title">
                                <h4>
                                    <a>${article.name}</a>
                                </h4>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <a>
                                            <i class="icon-user"></i>
                                            ${article.author}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            `)
        }).join('')
        return listArticles

    }

    showPostEndPage = (articles) => {
        return articles.map((article) => {
            return(`
                <div class="entry col-12 col-md-6">
                  <div class="grid-inner row align-items-center gutter-20">
                    <div class="col-4">
                      <div class="entry-image">
                        <a href="/bai-viet/${article.slug}-${article._id.toString()}"><img src="/uploads/article/${article.image}" alt="Blog Single"></a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="entry-title title-xs">
                        <h3><a href="/bai-viet/${article.slug}-${article._id.toString()}">${article.name}</a></h3>
                      </div>
                      <div class="entry-meta">
                        <ul>
                          <li><i class="icon-calendar3"></i>${new Date(article.createdAt).toISOString().slice(0, 10)}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            `)
        }).join('')
    }

%>