<%
    showBrand = (brands) => {
        return brands.map((brand) => {
            return(`
                <li class="grid-item">
                  <a href="/shop?brand_id=${brand._id.toString()}"><img src="/uploads/brand/${brand.image}" alt="Clients"></a>
                </li>
            `)
        }).join('')
    }
%>