<%
    showFilter = (filterList,keyword, currentPage,category_id,brand_id, label, nameFilter) => {
        let query = `?page=${currentPage}`
        let path = ''
        let url = ''
         if(category_id) {
         path = `category/${category_id}`
         }
         if(keyword)
         query += `&search=${keyword}`
         if(nameFilter !== 'brand') if(brand_id) query += `&brand_id=${brand_id}`
        const list = filterList.map((item) => {
            if(nameFilter === 'brand') {
                url = `/shop/${path}${query}&brand_id=${item.value}`
            }
            if(nameFilter === 'price') {
                url = `/shop/${path}${query}&price=${item.value}`
            }
            if(nameFilter === 'name') {
            url = `/shop/${path}${query}&sort=${item.value}`
            }
             if(nameFilter === 'sale') {
             url = `/shop/${path}${query}&sale=${item.value}`
             }
            return(`
                <a class="dropdown-item" href="${url}">${item.name.toLowerCase()}</a>
            `)
        }).join('')
        return(`
            <div class="dropdown sortbuttons">
              <button type="button" class="button button-border m-0 button-dark border-width-2 border-dark nott ls0 fw-normal h-bg-color dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="catButton">
                ${label}
              </button>
              <div class="dropdown-menu py-0 border-default rounded-0" aria-labelledby="catButton">
                ${list}
              </div>
            </div>
        `)
    }
%>