<%
    showFooterContent = (items) => {
        return items.map(item => {
            return(`
                <div class="entry col-12">
                  <div class="grid-inner row">
                    <div class="col">
                      <div class="entry-title">
                        <h4><a href="/blog/article/${item.id}">${item.name}</a></h4>
                      </div>
                      <div class="entry-meta">
                        <ul>
                          <li>${item.createdAt.toISOString().slice(0, 10)}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            `)
        }).join('')
    }
%>