<%
    showMegaMenu = (mainCategories, subCategories, shop_id) => {
        let subMenu = ''
        let url = ''
        const menu = mainCategories.map((main) => {
            if(main.url) url = `href="${main.url}"`
            let subMenuLi = subCategories.map((sub) => {
                if(sub.category_id === main.id) {
                    if(main.category_id === shop_id) {
                        url = `/shop/category/${sub.slug}-${sub.id}`
                    }else url = `/blog/${sub.slug}-${sub.id}`
                    return(`
                    <li class="menu-item">
                        <a class="menu-link" href="${url}">
                            <div>${sub.name}</div>
                        </a>
                    </li>
                    `)
                } 
                return ''
            }).join('')
            if(subMenuLi) subMenu = `<ul class="sub-menu-container">${subMenuLi}</ul>`
            else subMenu = ''
            return(`
                <li class="menu-item">
                    <a class="menu-link" ${url}>
                        <div>${main.name}</div>
                    </a>
                    ${subMenu}
                </li>
            `)
        }).join('')
        return menu
    }

%>