<%
    showProductItem = (products) => {
      if(products.length <= 0) {
        return(`
          <h3 class="text-center m-5">Không có sản phẩm!</h3>
        `)
      }
      let sale = ''
       return products.map((product) => {

          if(product.sale > 0) sale = '<div class="sale-flash badge bg-danger p-2 text-uppercase">Sale!</div>'
          else sale = ''
          let price = product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + `VNĐ`
          let salePrice = (product.price - product.price * product.sale / 100 ).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            return(`
                <div class="product col-md-3 col-sm-6 col-12 text-center media-box fbox-bg">
                  <article class="portfolio-item">
                    <div class="portfolio-image fbox-content" style="border-top: 1px solid #E5E5E5;
                    border-radius: 5px 5px 0 0; vertical-align: middle !important" >
                      <a >
                        <img class="product-img" src="/uploads/product/${product.image}" alt="Locked Steel Gate" style="vertical-align: middle !important">
                      </a>
                      <div class="bg-overlay">
                        ${sale}
                        <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;">
                          <a href="/mua-sam/san-pham/${product.slug}-${(product._id).toString()}" class="overlay-trigger-icon bg-light text-dark animated fadeInDownSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" title="Detail" data-hover-delay="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                          <a href="javascript:handleAddToCart('${(product._id).toString()}','${product.name}','${product.image}', '${salePrice}')" class="overlay-trigger-icon bg-light text-dark animated fadeInDownSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" title="Add to cart" data-hover-delay="550" style="animation-duration: 350ms;"><i class="icon-shopping-cart"></i></a>
                        </div>
                        <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                      </div>
                    </div>
                    <div class="product-desc fbox-content align-middle" style="background-color: #F2F2F2; height: 180px!important">
                      <div class="product-title ">
                        <h3><a href="/mua-sam/san-pham/${product.slug}-${(product._id).toString()}">${product.name}</a></h3>
                      </div>
                      <div class="product-price">${product.sale > 0 ? `<del style="display: block !important">${price}</del> <ins>${salePrice} VNĐ</ins>` : `<ins>${price}</ins>`}</div>
                    </div>
                  </article>
                </div>
            `)
        }).join('')
    }

     handleChildSidebar = (categories, shop_id) => {
      let status = ''
      let toggle = ''
      let attr = 'class="toggle-content p-1" style=" display: none"'
      const filterCategories = categories.filter(category => category.category_id === shop_id)
      const parent = filterCategories.map((item) => {
         
        const childCategories = categories.filter(category => category.category_id === item._id.toString())
        const child = childCategories.map((childItem) => {
          if (currentUrl.includes(childItem.slug)) {
            status = 'active'
          } else {
             status = ''
          }
          return(`
            <ul>
              <a style="padding-bottom:6px !important" class="${status}" href="/mua-sam/${childItem.slug}/${childItem.slug}-${childItem._id.toString()}">${childItem.name}</a>
            </ul>
          `)
        }).join('')
         if (currentUrl.includes(item.slug)) {
            status = 'active2'
            toggle = 'toggle-active'
            attr = 'class="p-1" style=" display: block"'
         } else {
            status = ''
            toggle = ''
            attr = 'class="toggle-content p-1" style=" display: none"'
         }
        return(`
          <li>
            <div class="toggle mb-0 ${toggle}">
              <div class="toggle-header text-primary flex-row-reverse">
                <div class="toggle-title fw-medium">
                  <a class="${status}" class="text-black">${item.name}</a>
                </div>
              </div>
              <div ${attr}>
               ${child}
              </div>
          </li>
        `)
      }).join('')
      return(`
          <div class="sidebar-widgets-wrap">
            <div class="widget widget_links clearfix">
              <h4>Danh mục sản phẩm</h4>
              ${parent}
            </div>
          </div>

      `)
    }

    showSidebarProd = (products) => {
      return products.map((product) => {
        let salePrice = (product.price - product.price * product.sale / 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ` VNĐ`
          return(`
          <div class="entry col-12">
            <div class="grid-inner row g-0">
              <div class="col-auto">
                <div class="entry-image">
                  <a href="/mua-sam/san-pham/${product.slug}-${(product._id).toString()}"><img src="/uploads/product/${product.image}" alt="Image"></a>
                </div>
              </div>
              <div class="col ps-3">
                <div class="entry-title">
                  <h4><a href="/mua-sam/san-pham/${product.slug}-${(product._id).toString()}">${product.name}</a></h4>
                </div>
                <div class="entry-meta no-separator">
                  <ul>
                    <li class="color">${salePrice}</li>
                    <li><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star-half-full"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          `)
      })
      
    }

    showProductImage = ({image, gallery_image}) => {
      const gallery = gallery_image.map((item) => {
        return (`
          <div class="slide" data-thumb="/uploads/product/${item}"><a href="/uploads/product/${item}" title="Pink Printed Dress - Front View" data-lightbox="gallery-item"><img src="/uploads/product/${item}" alt="Pink Printed Dress"></a></div>
        `)
      })
      return(`
        <div class="slide" data-thumb="/uploads/product/${image}"><a href="/uploads/product/${image}" title="Pink Printed Dress - Front View" data-lightbox="gallery-item"><img src="/uploads/product/${image}" alt="Pink Printed Dress"></a></div>
        ${gallery}
      `)
    }

    showProdRelated = (products) => {
      let sale = ''
      return products.map((product) => {
          if(product.sale > 0) sale = '<div class="sale-flash badge bg-danger p-2 text-uppercase">Sale!</div>'
          else sale = ''
          let price = (product.price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + `VNĐ`
          let salePrice = (product.price - product.price * product.sale/ 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + 'VNĐ'
        return(`
          <div class="oc-item">
            <div class="product">
              <div class="product-image">
                <a href="/mua-sam/san-pham/${product.slug}-${(product._id).toString()}"><img src="/uploads/product/${product.image}" alt="Checked"></a>
                <a href="/mua-sam/san-pham/${product.slug}-${(product._id).toString()}"><img src="/uploads/product/${product.image}" alt="Checked"></a>
                ${sale}
                <div class="bg-overlay">
                  <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                    <a href="javascript:handleAddToCart('${(product._id).toString()}','${product.name}','${product.image}', '${salePrice}')" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
                    <a href="/mua-sam/san-pham/${product.slug}-${(product._id).toString()}" class="btn btn-dark"><i class="icon-line-ellipsis"></i></a>
                  </div>
                  <div class="bg-overlay-bg bg-transparent"></div>
                </div>
              </div>
              <div class="product-desc center">
                <div class="product-title">
                  <h3><a href="/mua-sam/san-pham/${product.slug}-${(product._id).toString()}">${product.name}</a></h3>
                </div>
                <div class="product-price">${product.sale > 0 ? `<del style="display: block !important">${price}</del> <ins>${salePrice} </ins>` : `<ins>${price}</ins>`}</div>
                <div class="product-rating">
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star-half-full"></i>
                </div>
              </div>
            </div>
          </div>
        `)
      })
    }
%>