<%
    showInputSubscribe = (setting) => {
        return(`
            <div class="widget-subscribe-form-result"></div>
            <form id="widget-subscribe-form" action="/admin/subscribe" method="post" class="mb-0">
                <div class="input-group mx-auto">
                    <div class="input-group-text">
                        <i class="${ setting.button.icon}"></i>
                    </div>
                    <input type="email" id="widget-subscribe-form-email" name="email" class="form-control required email" placeholder="Enter your Email">
                    <button class="btn btn-${ setting.button.color}" type="submit">${ setting.button.name}</button>
                </div>
            </form>
`)
}
%>